.mainhero {
    position: relative;
    height: 100vh;
    background: url(../assets/Main01.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}