#portfolio {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}

.tile {
    margin-bottom: 0.5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.tile a:hover {
    color: #282828;
}

.tile p {
    font-size: 14px;
    font-weight: 500;
}

.scale-anm {
    transform: scale(1);
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0.5rem;
    right: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.portfolio-hover:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.portfolio-hover-text {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Responsive */
@media all and (max-width: 1224px) {
    #portfolio {
        -webkit-column-count: 4; 
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media all and (max-width: 1024px) {
    #portfolio {
        -webkit-column-count: 3; 
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media all and (max-width: 768px) {
    .top-nav {
        padding-top: 85px;
        padding-bottom: 15px;
    }
    #portfolio {
        -webkit-column-count: 2; 
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media all and (max-width: 480px) {
    
    #portfolio {
        -webkit-column-count: 1; 
        -moz-column-count: 1;
        column-count: 1;
    }
}