#portfolio {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}

.tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.scale-anm {
    transform: scale(1);
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Responsive */
@media all and (max-width: 1224px) {
    #portfolio {
        -webkit-column-count: 4; 
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media all and (max-width: 1024px) {
    #portfolio {
        -webkit-column-count: 3; 
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media all and (max-width: 768px) {
    .top-nav {
        padding-top: 85px;
        padding-bottom: 15px;
    }
    #portfolio {
        -webkit-column-count: 2; 
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media all and (max-width: 480px) {
    
    #portfolio {
        -webkit-column-count: 1; 
        -moz-column-count: 1;
        column-count: 1;
    }
}