.resume-cover {
    height: 75vh;
    background: url(../assets/Main03.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}